/.vscode
/Library
/Logs
/obj
/ProjectSettings
/Temp
*.meta
/Assets/Animations
/Assets/Art
/Assets/Effects
/Assets/HDRPDefaultResources
/Assets/Meshes
/Assets/Scenes
/Assets/Settings
/Assets/Shaders
/Assets/Textures
/Assets/Materials
/Assets/Prefubs
/Logs
/Packages
/UserSettings
Assembly-CSharp.csproj
JunTest.sln
*.asset
